Quizpagina:
<div id="container" *ngIf="questions">
    Hello, we have <strong>{{questions.length}}</strong> questions for you !
    <br>
    <br>
    Question: <strong>{{current}}</strong>
    <br>
    Category: <strong>{{currentQuestion.category}}</strong>   <!-- weergeven van huidige vraag -->
    <br>
    <br>
    <strong>{{currentQuestion.question}}</strong> toon de vraag op deze lijn
    <!-- Voeg hier de nodige zaken toe voor selecteren van het antwoord -->
    <br>
    <div *ngIf="this.currentQuestion.type =='multiple'">
        <select id="MySelect" (change)="ChooseAnswer($event)">
            <option *ngFor="let o of answers">{{o}}</option>
        </select>
    </div>

    <div *ngIf="this.currentQuestion.type =='boolean'">
        <select id="MySelect" (change)="ChooseAnswer($event)">
            <option *ngFor="let o of answers">{{o}}</option>
        </select>
    </div>
    
    <div *ngIf="this.wrongAnswer">You had the previous question wrong the correct answer was : <strong>{{currentQuestion.correct_answer}}</strong></div>
    (You currently have <strong>{{svc.score}}</strong> points.)
    <br>
    <br>
    <button class="button" (click)="SetNextQuesion() ">  Next Question</button>
    <br>
    <button [routerLink]="['overview']">Stop quiz</button>
</div>
